*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.husanboybody__main{
    width: 100%;
    height: auto;
    max-width: 1440px;
    margin: 0 auto;
}
.bizning__bloglar{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bizningbloglar__main{
    width: 80%;
    height: auto;
    text-align: center;
    border-top: 1px solid rgb(189, 187, 187);
    margin: 5% 0;
}
.blogmain__title{
    width: 270px;
    height: 55px;
    border: 1px solid rgb(189, 187, 187);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 33px;
    color: rgb(58, 58, 58);
    margin: 0 auto;
    margin-top: -30px;
    background-color: #fff;
}
.bloglar__cards{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 4% 0;
}
.bloglar__card{
    width: 33%;
    height: auto;
    border: 1px solid rgb(223, 221, 221);
    overflow: hidden;
}
.bloglar__card:hover{
    border: 0.5px solid black ;
}
.blogcardimg{
    width: 100%;
}
.divdivdiv{
    width: 100%;
    height: 233px;
    background-color: red;
    overflow: hidden;
}
.blogcardimg:hover{
    width: 100%;
    transform: scale(1.1);
    text-transform: capitalize;
    transition: all .2s linear;
}
.blogcardtext{
    width: 93%;
    margin: 0 auto;
    text-align: left;
}
.blogcard__title{
    color: rgb(75, 74, 74);
    margin: 4% 0;
    line-height: 37px;
}
.blogcard__p{
    width: 80%;
    color: grey;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 2%;
}
.blogicon__button{
    width: 150px;
    height: 37px;
    border-radius: 5px;
    border: none;
    background-color: #32cf74;
    color: #ebeaea;
    font-size: 14px;
    font-weight: 700;
    margin: 4% 0;
}
.blogicon__button:hover{
    background-color: #1f8a4c;
    transition: all .2s linear;
}

/*future page start*/

.future__iconlittlediv{
    display: flex;
    gap: 10px;
}
.futurepageicon__img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #27ae60;
}
.futurepageicon__img:hover{
    background-color: #444;
    text-transform: capitalize;
    transition: all .2s linear;
}
.futurepageicon__img i{
    font-size: 20px;
}
.future__page{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.futurePage__main{
    width: 80%;
    height: auto;
    border-bottom: 1px solid rgb(218, 218, 218);
}.futurepage__text{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.pageTEXT__card{
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin: 1% 0;
}
.futurecard__title{
    color: rgb(70, 70, 70);
}
.futureicon__title{
    color: rgb(94, 93, 93);
    font-weight: 500;
}
.futurepage__icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 3% 0;
    flex-wrap: wrap;
}
.Tomonidan__yaratildi{
    width: 100%;
    height: auto;
    margin: 4% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    text-align: center;
}
.weblibrury__yaratti b{
    color: #27ae60;
}
.weblibrury__yaratti{
    width: 90%;
    font-weight: 500;
    color: rgb(94, 93, 93);
    margin: 0 auto;
}
.futureicon__title:hover{
    transform: translateX(15px);
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
    cursor: pointer;
}