*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.iqbolmirzobody-main{
    max-width: 1440px;
    margin: 0 auto;
}
.cointainer__main{
    width: 100%;
}
.grid-container{
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 23px;
    margin: 0 auto;
    overflow-x: scroll;
}
.grid-card{
    width: 370px;
    height: 170px;
    border: 1px solid rgb(214, 211, 211);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.grid-card:hover{
    border: 1px solid rgb(121, 121, 121);
    cursor: pointer;
}
.fa-star, .fa-star-half-stroke{
    color: green;
}
.yangi-kelganlar{
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 600;
    line-height: 35px;
}
.yangi-summa{
    font-size: 23px;
    font-weight: 500;
    font-family: sans-serif;
    line-height: 35px;
}
.eski-summa{
    font-size: 15px;
    font-weight: 400;
    font-family: sans-serif;
}
.grid-card>img{
    width: 25%;
    height: 80%;
    border: 2px solid red;
}
.textlar{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imges{
    margin: 5% 4%;
    width: 25%;
    height: 80%;
    
}
.cointainer__main{
    width: 80%;
    height: auto;
    border-top: 1px solid rgb(188, 186, 186);
    margin: 5% auto;
}
.title1{
    width: 280px;
    height: 50px;
    border: 1px solid rgb(188, 186, 186);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3% auto;
    margin-top: -25px;
    background-color: #fff;
    font-family: sans-serif;
}
.imges>img{
    width: 100%;
    height: 100%;
}